/* src/pages/Home.css */

.home-container {
  padding: 2rem;

}

.home-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color:  var(--accent);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  gap: 1.5rem;
}

.product-card {
  background-color: #fff;
  border: 3px solid  var(--accent);
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.3s;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px  var(--accent);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-info {
  padding: 1rem;
  text-align: center;
}

.product-info h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.price {
  font-weight: bold;
  color: #ff0080;
  margin-bottom: 0.8rem;
}

.product-info button {
  background-color: #ffff33;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.product-info button:hover {
  background-color: #ffee00;
}


@media (min-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}