html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgb(63, 57, 57); /* ou la couleur de fond de ton jeu */
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
}
canvas {
    display: block;
    background-color: black;
}
